body {
  background-color: #ECF0F1;
  color: #fff;
}

nav {
  background-color: #999;
  border: 1px solid black;
  padding-bottom: .5rem;
}

nav.navbar-default {
  border-color: #444;
  background-color: #ecf0f1;
  padding-bottom: 2px;
  }

#my-picture{
    max-width: 75%;
}

@media screen and (max-width: 768px){
#my-picture{
    display: none;
    }
}

#about {
  position: relative;
  background-image: url('../images/img-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1{
    color: #eb5d1e;
}

/*#contact {
  position:relative;
  background-image:url('../images/Ho_Chi_Minh_City_skyline.jpg');
  margin-left:-1%;
  width:102%;
  background-size:cover;
  background-attachment:fixed;
  overflow:hidden;
}*/


.css3-logo {
  width:70%;
}

#angular1-logo {
  margin-left:15%;
}

.transbox {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .6);
  padding: 10px;
  border-radius: 5px;
}

.white-transbox {
  position: absolute;
  bottom: 0;  
  display: inline-block;
  background-color: rgba(255, 255, 255, .3);
  color:#111;
  border-radius: 5px;
    max-height: 60%;
}

h3 {
    padding-bottom: .3em;
}


