@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);

html{
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit
}

body {
  background-color: #ecf0f1;
  margin-top: 50px;
  color: #fff;
  font-family: 'Raleway'', sans-serif;
  line-height: 160%;
  font-weight: 300;
}


nav.navbar-inverse {
  padding-bottom: 2px;
  }

#my-picture{
    max-width: 70%;  
}

@media screen and (max-width: 768px){
#my-picture{
    display: none;
    }   
}

#about {
  position: relative;
  background-image: url('../images/backgrounds/img-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#portfolio {
  background-image:url('../images/backgrounds/coding-php.jpg');
  background-size:cover;
  background-attachment:fixed;
}

#contact {
  position:relative;
  background-image:url('../images/backgrounds/mairie.jpg');
  background-size:cover;
  background-attachment:fixed;
}


h1{
    margin-top: 0;
    color: #eb5d1e;
}

/*#contact {
  position:relative;
  background-image:url('../images/Ho_Chi_Minh_City_skyline.jpg');
  margin-left:-1%;
  width:102%;
  background-size:cover;
  background-attachment:fixed;
  overflow:hidden;
}*/


.css3-logo {
  width:70%;
}


.transbox {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .6);
  padding: 11px;
  border-radius: 5px;
}

.white-transbox {
  position: absolute;
  bottom: 0;  
  display: inline-block;
  background-color: rgba(255, 255, 255, .3);
  color:#111;
  border-radius: 5px;
  max-height: 100%; /*évite débordements au-delà du container*/
  max-width: 100%;
}

h3 {
    padding-bottom: .3em;
}

/* Styles for portfolio */

.thumbnail {
  position: relative;
  border: none;
}

.site-link {
  position:absolute;
  opacity:0;
  background-color:rgb(0, 0 ,0);
  background-color:rgba(0, 0, 0, .8);
  width:100%;
  height:100%;
  left:0;
  top:0;
  color:#fff;
}

.site-link:hover {
  opacity:1;
}


.languages-used {
  position:absolute;
  bottom:0;
  left:0;
}

.languages-used {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .4);
}

.left-right {
  padding:0 10px;
}

#github-link:hover, #codepen-link:hover {
  background-color:#fff;
}

#linked-in-link:hover {
  background-color:#007bb5;
}

#mail-link:hover {
  background-color:#dd4b39;
}

