[submodule "Audiotheme"]
	path = Audiotheme
	url = https://github.com/jipee37/Audiotheme.git
[submodule "tinder"]
	path = tinder
	url = https://github.com/jipee37/tinder.git
[submodule "my_JS-quiz"]
	path = my_JS-quiz
	url = https://github.com/jipee37/my_JS-quiz.git
[submodule "Create-Pro"]
	path = Create-Pro
	url = https://github.com/jipee37/Create-Pro.git
[submodule "bootstrap_theme"]
	path = bootstrap_theme
	url = https://github.com/jipee37/bootstrap_theme.git
