body {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.4em;
    background-image: url('images/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 50px;
    border: none;
    color: grey;
    font-weight: bolder;
    box-shadow: 2px 2px 2px #887560;
    
   
}


.title {
    
    font-family: 'lemonada', cursive;
    text-decoration: none;
    color: #444;
    text-align: center;
    line-height: 2.1em
}

#quiz {
    
    margin: 0;
    padding: 0;
    text-indent: 10px;
    color: dimgrey;
}

.inline{
    
    display: inline-flex;
    justify-content: flex-end;
    
}

.button {
       
    text-align: center;
    border: 2px solid;
    border-radius: 6px;
    width: auto;
    padding: 5px;
    margin: 0.1em ;
    
}


.button a {
    
    text-decoration: none;
    color: black;
}


.button.active {
    
    background-color: #f8f8ff;
    color: dimgrey;
}


ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#next{
    order: 1;  
}

#pre {
    order: 0;  
}

#start {
   
    display: none; /*retire le bouton au premier démarrage du quizz; le bouton étant caché au redémarrage par .hide()*/
    align-self: flex-end;
}


@media screen and (max-width:768px){
    
    .title {
        display: none;
    }
}


















